<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breezy: 더 나은 받침부관리</title>
    <link rel = "stylesheet" href="/static/loadingstyle copy.css"/>
</head>
<body>
    <div class="home-nav-item">
        <!-- <img src="/static/image/홈 로그인 로그아웃 회원가입.png" class="home-nav-item"> -->
        홈 &nbsp;&nbsp;로그인 &nbsp;&nbsp;로그아웃 &nbsp;&nbsp;회원가입
    </div>

    <div class="nav-item">
        <div class="logo">
            JANET
        </div>
        <div class="nav--item">
            즐겨찾기 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사용자정보 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;사업정보 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;상담센터 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;주요사이트
        </div>
    </div>

    <div class="bus-image">
        <img src="/static/image/vw-bus-ga74a6f1f5_1920 1.png" class="onebus">
        <img src="/static/image/vw-bus-ga74a6f1f5_1920 2.png" class="twobus">
        <img src="/static/image/vw-bus-ga74a6f1f5_1920 3.png" class="threebus">
        <div class="fourbus"></div>
    </div>

    <div class="graph">
        <div class="main">
            <img src="/static/image/Line 3.png" class="threeline">
            <div class="drag">
                Drag & Drop <br><br>
                내하력 평가 수행 시스템
            </div>
        </div>
        <div class="menu">
            <img src="/static/image/iconmonstr-file-thin-240 1.png" class="icon1">
            <img src="/static/image/iconmonstr-search-thin-240 1.png" class="icon2">
            <img src="/static/image/iconmonstr-bar-chart-thin-240 1.png" class="icon3">
            <div class="munza1">1. 데이터등록</div>
            <div class="munza2">2. 데이터 분석</div>
            <div class="munza3">3. 분석결과</div>

            <div class="oneline"></div>
            <img src="/static/image/Line 5.png" class="fiveline">
            <img src="/static/image/Rectangle 1.png" class="rec1">
            <img src="/static/image/Rectangle 13.png" class="rec2">
            <div class="munza4">데이터 분석 진행 중</div>
            <img src="/static/loading.gif" class = "lgif">
        </div>

    </div>


</body>
</html>