{% extends "based.html" %}

{% block contents %}
<link rel = "stylesheet" href="/static/brlist.css"/>


<div>
    <a href="#" class="ahome">홈</a>
    <a href="/users/login/" class="alogin">로그인</a>
    <a href="/users/logout/" class="alogout">로그아웃</a>
    <a href="/users/register" class="aregi">회원가입</a>
</div>

<div>
    <a href="#">
        <img src="/static/image/브리지 로고.png"  class="logo">
    </a>
    <a href="#" class="bbookmark">즐겨찾기</a>
    <a href="#" class="buser">사용자정보</a>
    <a href="#" class="bsaup">사업정보</a>
    <a href="#" class="bcall">상담센터</a>
    <a href="#" class="bsite">주요사이트</a>
</div>

<div class="mainimage">
    <img src="/static/image/자넷 이미지.png"  class="janetimg">
    <img src="/static/image/그라데이션.png"  class="gradation">
</div>

<div class="menu">
    <a href="#" class="sys1">교량 변위 측정 시스템</a>
    <a href="#" class="sys2">진동 사용성 평가 시스템</a>
    <a href="#" class="sys3">받침부 상태 평가 시스템</a>
</div>

<div class="line"></div>
<div class="smalltitle">진동 사용성 평가 시스템</div>
<div class="row mt-5 listtable">
    <div class="col-12">
        <table class="table table-default">
            <thead-light>
                <tr class="table-dark">
                    <!-- <th>#</th> -->
                    <th>교량 이름</th>
                    <th>교량 길이</th>
                    <th>section</th>
                    <th>일시</th>
                    <th>업로드</th>
                    <th>보고서</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for board in bridge_list %}
                <tr>
                    <!-- <th>{{board.0}}</th> -->
                    <td>{{board.1}}</td>
                    <td>{{board.2}}</td>
                    <td>{{board.3}}</td>
                    <td>{{board.6}}</td>
                    <td><button class="btn btn-outline-primary" onclick="location.href='/docs/{{board.3}}'">업로드</button></td>
                    {%if board.5 == 1 %}
                    <td><button class="btn btn-primary" onclick="location.href='/chart/report/{{board.3}}'">보고서</button></td>
                    {%else%}
                    <td><button class="btn btn-warning disabled" onclick="location.href='/chart/report/{{board.3}}'">처리중</button></td>
                    {%endif%}
                </tr>
                {%endfor%}
            </tbody>
       </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary badd" onclick="location.href='/bridges/add/'">교량 추가</button>
        {% comment %} <button class="btn btn-primary" onclick="location.href=''">돌아가기</button> {% endcomment %}
    </div>
</div>


{% endblock %}